.dart_tool/
.pub/
.pub-cache/
build/
*.lock
*.log

android/
ios/
linux/
macos/
windows/
web/
test/

lib/main.dart
pubspec.yaml
pubspec.lock

.env

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

.metadata
.flutter-plugins-dependencies
analysis_options.yaml

*.apk
*.aab