name: tailscale_web_app
description: Tailscale-powered WebView app.
publish_to: "none"
version: 1.0.0

environment:
    sdk: ">=3.10.0 <4.0.0"

dependencies:
    flutter:
        sdk: flutter
    tailscale: ^0.9.0
    flutter_dotenv: ^6.0.1
    path_provider: ^2.1.6
    flutter_inappwebview: ^6.0.0

dev_dependencies:
    flutter_test:
        sdk: flutter
    flutter_launcher_icons: ^0.14.4

flutter:
    uses-material-design: true
    assets:
        - .env

flutter_icons:
    android: true
    ios: true
    image_path: "icons/icon.png"
    adaptive_icon_background: "#ffffff"
    adaptive_icon_foreground: "icons/icon.png"
